.asset {
  width: 37.5rem;
  height: 15rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  align-items: baseline;
  justify-content: space-evenly;

  margin: 0.9rem 0.9rem 0.5rem 0rem;
  padding: 0.5rem;

  border-left: 0.2rem solid #4169e163;

  .informations {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .text {
      display: flex;
      justify-content: space-between;

      font-family: "Roboto";

      .inOperation {
        color: #008000;
      }

      .inAlert {
        color: #ff0000;
      }

      .inDowntime {
        color: #ffa500;
      }

      p {
        margin: 0.25rem;
      }
    }
    .visual {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: row;

      .spec {
        margin-left: 0.85rem;
        margin-top: 1rem;
        
        width: 100%;
        height: 100%;

        font-family: "Roboto" !important;

        h4 {
          margin-top: 0.2rem;
          margin-bottom: 0.2rem;
        }

      }

      img {
        margin-top: 1.25rem;
        width: 11rem;
        height: 10rem;
      }
    }
  }
}

@media (max-width: 1550px) {
  .asset {
    width: 37rem;
    height: 15rem;

    margin: 0.7rem 0.7rem 0.7rem 0rem;
  }
}
@media (max-width: 768px) {
  .asset {
    width: 20rem;
    font-size: 0.55rem;

    .informations {
      .visual {
        padding: 0.5rem 0.25rem;
        img {
          width: 9rem;
          height: 8rem;
        }
      }
    }
  }
}
